.note {
    color: #000000;
    width: 200px;
    height: 280px;
    background-color: rgb(255, 255, 66);
    border-radius: 15px;
    padding: .5em;
}

.title {
    font-weight: bold;
    font-size: 107%;
    padding-bottom: .3em;
}

.entry {
    background: none;
    border: none;
    color: #000000;
    padding: 0;
}

.all-app {
    padding: 16px 25px 16px 16px;
    spacing: 20px;
}

.all-app:rtl {
    padding-right: 16px;
    padding-left: 25px;
}
